/*
 * Variables
 */
:root {
  --black: black;
  --black2: dimgray;

  --dark-bg: #212;
  --dark-fg: darkslategray;
  --light-bg: snow;
  --light-fg: gainsboro;
  --accent1: olive;
  --accent2: indianred;
  --accent3: cadetblue;

  --background: var(--light-bg);
  --text: var(--dark-fg);
}

/*
 * border-box FTW
 */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

/*
 * Global
 */
body {
  font-family: Hack, monospace;
  font-size: 1.2em;
  line-height: 1.25em;
  background: var(--background);
  color: var(--text);

  display: flex;
  flex-wrap: wrap;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-bg);
    --text: var(--light-fg);
  }
}

@media (max-width: 400px) {
  main {
    --blaat: calc(1vw)/10;
    transform: scale(var(--blaat));
    transform-origin: 0 0;
  }
}

a:hover {
  text-decoration: underline;
}

input[type=checkbox] {
  display: none;
}


/*
 * Navigation
 */
code {
  font-family: inherit;
}
code::before {
  content: "$ ";
}
label {
  margin-left: 1ch;
  opacity: 50%;
  text-decoration: line-through;
}
input:checked + label {
  opacity: 100%;
  text-decoration: none;
}
hr {
  flex-basis: 100%;
  border: 1px solid var(--text);
}


/*
 * --graph
 */
main {
  --disp: grid;
  --vis: 0;
}
main div {
  --disp: none;
  /* opacity: 0; */
}
#graph:checked ~ main div {
  --disp: grid;
  /* opacity: 1; */
}
#graph:not(:checked) ~ main {
  display: block;
}

/*
 * --oneline
 */
#oneline:checked ~ main > article > details > :not(summary),
#oneline:checked ~ main > article > details > summary > h2::after {
  display: none;
}

/*
 * --all
 */
#all:checked ~ main :is(div, article) {
  display: var(--disp) !important;
  --vis: 1;
}

/*
 * Graph
 */
main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 32px);
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

div {
  margin: 0;
  /*display: grid; */ /* To make the ref checkboxes work */
  grid-template: 1fr / 1fr;
  grid-template-areas: "overlap";
  align-items: start;
}

div svg {
  width: 32px;
  height: 100%;
  grid-area: overlap;
  fill: none;
}

div svg path {
  stroke-width: 3px;
}

div svg circle {
  stroke-width: 3px;
  fill: var(--background);
}

div svg.lane-change {
  grid-column: span 2;
  width: 64px;
}

/*
 * Commits
 */
main article {
  grid-column-end: -1;
  max-width: 80ch;
}

h2 {
  font-size: 1em;
  margin: 0;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

/*
 * details on individual commits
 */
article details summary {
  list-style: none;
}
article details summary::marker,
article details summary::-webkit-details-marker {
  display: none;
}
article details summary:hover h2::after {
  content: "[+]";
  cursor: pointer;
  font-weight: normal;
  opacity: 50%;
}
article details[open] summary:hover h2::after {
  content: "[-]";
}


article header label {
  display: none;
}
article:hover header label {
  display: inline-block;
}
article label::before {
  content: "[-]";
  cursor: pointer;
}
article input:checked ~ header label::before {
  content: "[+]";
}
article input:checked ~ :is(p, header em, ol) {
  display: none;
}

abbr {
  color: var(--accent2);
  text-decoration: none;
}


data {
  color: var(--accent3);
}
data .refs::before {
  content: "(";
}
data .refs::after {
  content: ")";
}

time {
  color: var(--accent1);
}

sup {
  line-height: 0.1em !important;
  color: var(--black2);
}

ol {
  counter-reset: footnotes;
  padding-left: 5ch;
}

ol li {
  counter-increment: footnotes;
}

ol li::marker {
  content: "[" counter(footnotes) "]: ";
  color: var(--black2);
}

ol li a {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 1lh;
  display: block ruby;
}

aside {
  color: var(--black2);
}

pre {
  white-space: pre;
  font-family: inherit;
}
